<div class="wrapper">
  <nav class="navbar navbar-default">
    <div class="navbar-header" id="login-navbar-header">
      <a class="navbar-brand" href="/">
        <b>
          <h1>About Us</h1>
        </b>
      </a>
      <br>
    </div>

    <a href="/">
      <button type="submit" class="btn btn-signUp">Sign Up</button>
    </a>
  </nav>

  <div class="container">

    <div class="row"><!-- **** Row 1 Start **** -->

<!-- ============ Claire Start ============ -->
      <div class="col-md-5">
        <h1>Claire Furino</h1>
        <li>
          <a href="mailto:clairefurino88.com">Email: <u>clairefurino88@gmail.com</u></a>
        </li>

        <li>
          <a href="https://github.com/clairefurino88"><u>GitHub Account</u></a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/claire-f-bb803b154/"><u>LinkedIn</u></a>
        </li>

      </div>
<!-- ============ Claire End ============ -->

      <br>

<!-- ============ Arthur Start ============ -->
      <div class="col-md-5">
        <h1>Arthur Carvalho</h1>
        <li>
          <a href="mailto:">Email: <u>arthurblahblah@gmail.com</u></a>
        </li>

        <li>
          <a href="https://github.com/amcarv"><u>GitHub Account</u></a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/"><u>LinkedIn</u></a>
        </li>

      </div>
<!-- ============ Arthur End ============ -->


    </div> <!-- **** Row 1 End **** -->

    <div class="row"> <!-- **** Row 2 Start **** -->

<!-- ============ Annie Start ============ -->
     <div class="col-md-5">
        <h1>Annie T</h1>
        <li>
          <a href="mailto:">Email: <u>annieblahblah@gmail.com</u></a>
        </li>

        <li>
          <a href="https://github.com/annietanbeehoon"><u>GitHub Account</u></a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/"><u>LinkedIn</u></a>
        </li>

      </div>
<!-- ============ Annie End ============ -->

      <br>

      <div class="col-md-5">
<!-- ============ Luis Start ============ -->
       <div class="col-md-5">
        <h1>Luis Morel</h1>
        <li>
          <a href="mailto:">Email: <u>luisblahblah@gmail.com</u></a>
        </li>

        <li>
          <a href="https://github.com/LMorel77"><u>GitHub Account</u></a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/"><u>LinkedIn</u></a>
        </li>

      </div>
<!-- ============ Luis End ============ -->

    </div> <!-- **** Row 2 end **** -->

  </div> <!-- container end -->

  <div class="push"></div>

</div>
<!-- End Wrapper -->



<script type="text/javascript" src="js/login.js"></script>