<div class="wrapper">
  <nav class="navbar navbar-default">
      <div class="navbar-header" id="login-navbar-header">
        <a class="navbar-brand" href="/">
        
        </a>
        <h1>About Us</h1>
      </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1>Claire F</h1>
      <h4>Email: <a href="mailto:clairefurino88.com">clairefurino88@gmail.com</a></h4>
    
    </div>
    <br>
    <div class="col-md-5">
       <h1>Arthur </h1>
      <h4>Email: <a href="mailto:"></a></h4>
    
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h1>Annie </h1>
      <h4>Email: <a href="mailto:"></a></h4>

    </div>
    <br>
    <div class="col-md-5">
     <h1>Luis </h1>
      <h4>Email: <a href="mailto:"></a></h4>
    </div>
  </div>
</div>

    <div class="push"></div>

</div> <!-- End Wrapper -->

    <footer>
       Hate2Date &copy; 2018
    </footer>

<script type="text/javascript" src="js/login.js"></script>