<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hate2Date</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
</head>

<body>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
       <li class="active"><a href="/members"><span class="member-name" id="navbar-name"></span></a></li>
        <li>
        <form class="navbar-form navbar-right" id="search-bar">
          <div class="form-group">
            <input type="text" class="form-control" id="user-search" placeholder="Search Users">
          </div>
          <button type="submit" class="btn btn-default" id="search-btn" data-toggle="modal" data-target="#search-modal">Search</button>
        </form>
      </li>
      <li>
        <a class="navbar-brand" href="/logout" id="logout-btn">Logout</a>
      </li>
     </ul>     
    </div><!-- /.navbar-collapse -->
  </nav> <!-- End header -->
</nav> <!-- End navigation -->
 
 <div class="container">
   <div class="row">
     <div class="col-md-7 jumbotron">

     </div>
     <div class="col-md-1">

     </div>
     <div class="col-md-4 jumbotron">

     </div>


   </div>
 </div>










  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/APIs.js"></script>
  <script type="text/javascript" src="js/Customize_Interests.js"></script>
</body>

</html>