<div class="wrapper">
  <nav class="navbar navbar-default">
    <div class="row">
      <div class="col-md-8">
        <div class="navbar-header" id="login-navbar-header">
          <a class="navbar-brand" href="/">
            <div>
              <img class="animated infinite pulse" id="logo" src="/img/hnd_g.svg" alt="logo">
            </div>
          </a>
          <h1 style="color: white" class="logo-text animated infinite pulse "> Hate&Date</h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-right">
          <a href="/login">
            <button type="button" class="btn"> Login </button>
          </a>
          <a href="/about">
            <button type="button" class="btn">About Us</button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </nav>

  <div class="container body-bg">
    <div class="row">
      <div class="col-md-6 about">

        <center>
          {{!--
          <div>
            <img src="/img/hnd_con.png" alt="logo">
          </div> --}}
        </center>
        <p>
{{!-- information for what the app is about --}}
         <center><h2 class="mission">Our Mission</h2> </center>
          <p>Hate&ampDate is an application to work under the principle that mutual dislikes bring people closer than shared interests.
          Almost every dating app collects information regarding people's passions and hobbies. However, even if you and
          a 'match' love many of the same things, if you disagree on one thing you hate, your match would be ruined. So instead,
          why not discuss what you hate? This application allows people to share stories in ten different categories about
          why they hate or what they hate about each category —including anything from Donald Trump to Traffic on a Monday
          Morning — using a blog forum. Hate&ampDate is a new and refreshing way to find a real match. Hate&ampDate is making
          online dating more approachable by replacing cumbersome surveys and bios with a fun, alternative way to express
          your personality.

          </p>
          <center>
            <img class="img-con" src="/img/hnd_con.png" alt="logo">
          </center>
        </p>

      </div>
      <div class="col-md-6 sign_up">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputname">Name</label>
            <input type="text" class="form-control" id="name-input" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputOccupation">Occupation</label>
            <input type="text" class="form-control" id="occupation-input" placeholder="What is your occupation?">
          </div>
          <div class="form-group">
            <label for="exampleInputRelationshipType">What kind of relationship are you looking for?</label>
            <input type="text" class="form-control" id="relationshipType-input" placeholder="Friend with benefits, Just wanna chill, Long-term, Short-term, Friendship, etc">
          </div>
          <div class="form-group">
            <label for="exampleInputLocation">Location</label>
            <br> 
            {{!-- <select data-placeholder="Location (US State)" class="form-control selectpicker" id="location-input"> --}}
              <select class="form-control selectpicker" id="location-input">
              <option value="null" disabled="" selected="">Location (US State)...</option>
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="Washington, DC">District Of Columbia</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Lousisana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hamsphire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputImage">Profile Picture</label>
            <input type="text" class="form-control" id="image-input" placeholder="Url...">
          </div>
          <div class="form-group">
            <label for="exampleInputBio">About You</label>
            <textarea type="text" class="form-control" id="bio-input" placeholder="About You"></textarea>
          </div>
          <div>
            <p id="errorMessage" style="color:red"></p>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

            <span class="sr-only">Error:</span>
            <span class="msg"></span>
          </div>

          <button type="submit" class="btn">Sign Up</button>

        </form>
        <br />
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
  <!-- End container -->

  <div class="push"></div>

</div>
<!-- End Wrapper -->

{{!--
<footer>
  Hate2Date &copy; 2018
</footer> --}}
<video autoplay loop id="video-background" muted plays-inline>
    <source src="/img/473287184.mp4"
      type="video/mp4">
  </video>
<script type="text/javascript" src="js/signup.js"></script>