/*****************************************************************/
/***********************SIGN UP PAGE******************************/
/*****************************************************************/
body{
     color: white;
     font-family: 'Roboto', sans-serif;
}
#logo {
    position:relative;
    top: -48px;
    width: 120px;
    height: 120px;
    padding: 5px;
    background: white;
    border-radius: 16%;
    border: 1px;
    border-color: white;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  }


.sign_up{
    /* padding-left: 40px; */
    top: 0px;
    /* margin-top: 43px;
    margin-left: 0px; */
    left: 40px;
    border-radius: 5%;

  }
.about {
    /* margin-top: 75px; */
    border-radius: 5%;  

  }

.nav_back{
    background-image: url('/img/hnd_con.png');
    /* height: 94px;
    margin-top: -23px; */
    /* background-size: cover; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-repeat: no-repeat, repeat;
   
    }
  
  .selectpicker{
      color: black;
  }
  
  .btn{
   background-color: #e1000e;
  }
  .navbar, .sign_up, .about{
    padding: 40px 0 0 50px;
  box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
  background: white;
  background: b-wekit-linear-gradient(bottom right, #692e4e), rgba(255, 255, 255, 1);
  background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: linear-gradient(to bottom right, #ad5389, #3c1053);
  
  }
  .form-group{
    margin-right: 30px;
  }
  h2{
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
     
    
  }
  .img-circle{
    border: 5px solid white;
    margin-right: 10px;
    box-shadow: 1px 2px;
}
  .logo-text{
      margin-left: 200px;
      font-family: 'Bree Serif', serif;
      text-shadow: 3px 3px #262f2a;
      
  }
  .navbar{
    height: 138px;
  }


