body{
     color: black;
     font-family: 'Roboto', sans-serif;
}
#logo {
    position:relative;
    top: -47px;
    width: 70px;
    height: 70px;
    padding: 5px;
    background: white;  
    border-radius: 16%;
    border: 1px;
    border-color: white;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  }

p#liveFeedTitle {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  margin-bottom: 0;
  text-shadow: 2px 2px #262f2a;
  }
.hate-feed{
  margin: -29px 0 10px;
}


#share {
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  font-weight: bolder;
  color: red;
  text-shadow: 2px 2px #262f2a;
}


.sign_up{
    /* padding-left: 40px; */
    top: 0px;
    /* margin-top: 43px;
    margin-left: 0px; */
    left: 40px;
    border-radius: 5%;
    line-height: 1.5;
    color: #ffffff;

  }
  h5 {
    font-size: 13px;
    color: blue;
    text-align: center;
  }
.about {
    /* margin-top: 75px; */
    border-radius: 5%;  
    text-align: justify;
    /* text-indent: 60px; */
    color: #ffffff;
    font-style: italic;
  }
  .mission{
    font-style: italic;
  }
  .about-us{
    margin-right: 5px;
    border-radius: 5%;
    /* border: 5px solid #ffffff;  */
    background: url('/img/backround_of_about.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    }

.nav_back{
    background-image: url('/img/hnd_con.png');
    /* height: 94px;
    margin-top: -23px; */
    /* background-size: cover; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-repeat: no-repeat, repeat;
   
    }
  
  .selectpicker{
      color: black;
  }
  
  .btn{
   background-color: #e1000e;
   color:#ffffff;
   box-shadow: 3px 3px #262f2a;
  }
  .btn-lg{
    background: #ad5389;
    margin-bottom: 15px;
  }
 
  .navbar, .sign_up, .about, footer, .login-form, .col-md-7, .about-me{
  padding: 40px 31px 0 31px;
  box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
  background: white;
  background: b-wekit-linear-gradient(bottom right, #692e4e), rgba(255, 255, 255, 1);
  background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: linear-gradient(to bottom right, #ad5389, #3c1053);
  
  }
  .login-form{
    color:#ffffff;
    border-radius: 5%; 
      }
  .form-group{
    margin-right: 30px;
  }
  .form-control{
    height: 30px;
  }
  h2{
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      }
.team-names{
      font-size: 15px;
      text-align: center;
      color:#010101;
}
    
  .img-circle{
    border: 5px solid white;
    margin-right: 10px;
    box-shadow: 1px 2px;
    margin-left: 8px;
    margin-top: 10px;
}
  .logo-text{
    margin-left: 113px;
    font-family: 'Bree Serif', serif;
    text-shadow: 3px 3px #262f2a;
    margin-top: -18px;
}
.sign-foot{
  position: fixed;
  left: 0;
 bottom: 0;
 width: 100%;
  }

  .navbar{
    height: 90px;
  }
  .btn-signUp{
   margin-bottom: 10px;
  }
  .btn-login{
    width: 80px;
  }
  input:hover{
    background-color: #f5d9e9;
}
.btn:focus{
  outline: 0;
}
.btn:hover{
  cursor: pointer;
  background-color: #ffffff;
  color: #e1000e;
}
.hate-btn{
  background: #e1000e ;
  color: #ffffff;
 }

.form-group:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, red 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.post-panel{
  box-shadow: 4px 4px #262f2a;
}
.col-md-7, .post-form {
  border-radius: 5%;
}
.post-form{
  background: linear-gradient(to bottom right, #e1000e, black);
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


/* *************** BLOG STYLE *************** */
#left-panel{
  margin-left: 10px;
  margin-right: 10px;
}

.postStyle {
  border-color: 100px solid black !important;
  font-family:'Inconsolata', monospace;
  font-size: 22px;
  color: black;
  font-weight: bold;
  margin-left: -14px;
}

p#liveFeedTitle {
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
}

.post-area {
  border-color: 100px solid black !important;
  margin: 10px, 10px, 10px, 10px;
  width: auto;
  height: auto;
}
.post-datetime {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
/* **************************************style user.handlebars *********************************/
.about-me{
  border-radius: 2%;
  }
.am-panelHeading{
  background: linear-gradient(to bottom right, #e1000e, black);
  box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  font-weight: bold;
  
}
.user-img{
  border: 3px solid #ffffff;
  box-shadow: 3px 4px;
  border-radius: 0% 10% 0% 10%;
  width: 500px;
  height: 362px;
}
.user-info-sec{
  border: 3px solid #ffffff;
  box-shadow: 3px 4px black;
  border-radius: 10% 0% 10% 0%;
  color: #ffffff;
  }
.user-info{
  color: black;
  font-size: 16px;
  text-shadow: 1px 1px #646262;
  font-weight: bolder;
  text-decoration-line: underline;
  }
/* ************video backround style******** */
body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
/* *********************************************************************** */

@media screen and (max-width: 1024px) {
  .team-img{
    width: 20.666667%;
  } 
  .text-right{
    margin-left: -42px;
  }
  .col-md-offset-2{
    margin-left: 110px;
  }
  .col-md-offset-4{
    margin-left: 294px;
  }
  .sign_up{
    width: 442px;
  }
}

@media screen and (max-width: 980px) {
  .team-img{
    width: 25.666667%;
  } 
  .col-md-offset-4{
    margin-left: 170px;
  }
  .login-form{
    width: 450px;
    margin-left: 20%;
    margin-top: 30px;
  }
  .about{
    width: 560px;
    margin-left: 13%;
  }
  .img-con{
    margin-top: -31px;
    margin-bottom: 21px;
  }
  .sign_up{
    width: 540px;
    margin-left: 9%;
  }
}



@media screen and (max-width: 768px) {
  .aub1{
    width: 70px;
    margin-left: -29px;
  }
  .col-md-offset-2{
    margin-left: 30px;
  }
}
  
@media screen and (max-width: 736px) {
  .text-right{
    margin-top: -60px;
  }
  .col-md-offset-2{
    margin-left: 11%;
  }
}
@media screen and (max-width: 414px) {
  .team-img{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
  }
  #logo{
    margin-left: -24px;
  }
  .logo-text{
    margin-top: -40px;
  }
  .btn{
       height: 31px;
}
.text-right{
  margin-top: -41px;
}
.login-form{
  width: 310px;
  height: 337px;
  margin-left: 13%;
}
.img-con{
  margin-top: -21px;
    margin-left: -43px;
}
.sign_up{
  left: -23px;
  width: 390px;
}
.about{
  margin-left: 4%;
  width: 387px;
  font-size: 12px;
  height: 460px;
  margin-bottom: 15px;
}
  }
@media screen and (max-width: 375px) {
  .logo-text{
    margin-left: 90px;
    font-size: 28px;
    margin-top: -35px;
  }
    #logo{
    margin-left: -37px;
  }
  .login-form {
    width: 310px;
    height: 332px;
    margin-left: 9%;
}
.aub1{
  height: 31px;
  width: 67px;
}
.aub2{
  height: 31px;
  width: 91px;
}
.aub3{
  height: 31px;
  width: 80px;
}
.sign_up{
  margin-left: 9%;
  width: 350px;
  margin-bottom: 33px;
}
.about{
  margin-left: 3%;
  width: 350px;
  font-size: 12px;
}
}
@media screen and (max-width: 320px) {
  .login-form{
    margin-left: 2%;
}
.team-img{
  width: 61%;
}
}

/* Category Buttons Styling */
.categoryButtons {
  background: white;
  height: 30px;
  text-align: center;
}

.categoryButtons button {
  background: none;
  border: none;
  height: 30px;
  width: 7%;
  font-size: 11px;
  font-weight: bold;
}

.categoryButtons button:hover {
  background: #e1000e;
  width: 7%;
  }
.container-fluid{
  background: #fff;
  }
  .feed-row{
    margin-top: 25px;
  }
 